# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
plan1

# Secrets
*.pem
*.key
secrets/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# DATAS
data/Sanou-Flix/app/data/raw/animes_list.csv Sanou-Flix/app/data/raw/films_list.csv Sanou-Flix/app/data/raw/series_list.csv
data_copy/
data/

# VENV
venv-*
